/* Typography styling */
.blog p {
  @apply mb-4;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  @apply mb-4;
}

/* Anchor component styling */
.anchor {
  @apply relative;
}

.anchor::before {
  content: '#';
  @apply absolute -left-4 font-mono text-mauve opacity-0 transition-opacity;
}

.anchor:hover::before {
  @apply opacity-100;
}

/* Code component styling */
pre > code {
  @apply grid;
}

div[data-rehype-pretty-code-fragment] {
  @apply mb-4 overflow-hidden rounded-b-lg border border-t-0 border-blue;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply my-2 overflow-x-auto rounded-b-lg border-mauve px-4 py-2;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply -mx-4 border-l-4 border-transparent;
}

div[data-rehype-pretty-code-fragment] .line:hover {
  @apply bg-blue bg-opacity-10;
}

div[data-rehype-pretty-code-fragment] .line.highlighted {
  @apply -mx-4 border-l-4 border-l-blue bg-blue bg-opacity-10;
}

div[data-rehype-pretty-code-fragment] .line .highlighted {
  @apply bg-opacity-25 px-1 py-0.5;
}

div[data-rehype-pretty-code-fragment] .line span[style*='font-style:italic;'] {
  @apply font-italic;
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'],
  div[data-rehype-pretty-code-title][data-theme='light'] {
    @apply hidden;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'],
  div[data-rehype-pretty-code-title][data-theme='dark'] {
    @apply hidden;
  }
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);

  @apply mx-4 inline-block text-right text-sm font-light text-gray-500;
}
